<!-- TOP CARDS -->
<div class="row g-3 mb-4">

  <div class="col-md-3">
    <div class="card p-3">
      <div class="text-muted">Total Devices</div>
      <div class="fw-bold fs-3">{{ stats?.devices.total }}</div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3">
      <div class="text-muted">Devices ON</div>
      <div class="fw-bold fs-3 text-success">{{ stats?.devices.on }}</div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3">
      <div class="text-muted">Devices OFF</div>
      <div class="fw-bold fs-3 text-danger">{{ stats?.devices.off }}</div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3">
      <div class="text-muted">Assigned Devices</div>
      <div class="fw-bold fs-3">{{ stats?.devices.assigned }}</div>
    </div>
  </div>

</div>

<!-- CHARTS -->
<div class="row g-3">

  <div class="col-md-6">
    <div class="card p-3">
      <apx-chart
        [series]="statusChart.series"
        [chart]="statusChart.chart"
        [labels]="statusChart.labels"
        [title]="statusChart.title">
      </apx-chart>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3">
      <apx-chart
        [series]="assignmentChart.series"
        [chart]="assignmentChart.chart"
        [xaxis]="assignmentChart.xaxis"
        [title]="assignmentChart.title">
      </apx-chart>
    </div>
  </div>

</div>
